body {
  margin: 0;
  padding: 0;
}
#window {
  position: absolute;
  left: 100px;
  top: 600px;
  background-color: rgb(59, 255, 229);
}
#dor {
  position: absolute;
  left: 500px;
  top: 600px;
  background-color: saddlebrown;
}
#roof {
  position: absolute;
}
#main {
  position: absolute;
  top: 500px;
  background-color: rgb(202, 128, 75);
}
